body {
    /*background-color: #f3f3f3;*/
    font-family: 'Avenir', sans-serif;
    background-image: linear-gradient(to right, #f3f3f3 8.31%, #fff 8.31%, #fff 91.69%, #f3f3f3 2%);
}

div {
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

h1 {
    font-size: 8em;
}

.makeOrange {
    color: #ff764d;
}
.makeBlue {
    color: #0000ff;
}

.alignToCenterOfDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}


.whiteDivsInBetweenSpace {
    height: .17em;
    background-color: #f3f3f3;
}


#header1 {
    height: 3.8em;
}

#header2 {
    height: 4.2em;
}

.imgSizeL {
    width: 70%;
    /* no height in this one because there's only 2 L img's and they have different heights. The height values are at #srcImg1 and #srcImg2 */
}
.imgSizeM {
    width: 35vw;
    height: 35vw;
}
.imgSizeS {
    width: 27vw;
    height: 20vw;
}

#srcImg1 {
    background-image: url("Images/largestImg1.jpg");
    height: 54.3em;
}