body {
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}
#mainDiv {
    margin: auto;
    width: 84.4%;
    margin-top: -.5em;
}
#abletonLogo {
    width: 3.75em;
    height: 1.75em;
    cursor: pointer;
    margin: 1.15em 0 0 2.5em;
    float: left;
}
.mainBlocks {
    min-height: 4em;
    background-color: #fff;
    width: 100%;
    margin-bottom: .1em;
    display: flex;
    flex-direction: column;
}
.mainBlocks h3, .mainBlocks h5 {
    float: left;
    margin-left: 2em;
    font-weight: 500;
    cursor: pointer;
}
.mainBlocks h5 {
    margin-left: 3em;
    font-weight: 600;
}
.orangeText, h1{
    color: #ff764d;
}
.blueText {
    color: #0000ff;
}
#headerBlueButton {
    margin-left: 26em;
    color: #0000ff;
}
.textLocationDiv {
    width: 50%;
    margin: auto;
}
.mainImageDiv {
    height: 83vh;
    background-image: url("Images/mainImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.8em;
}
h2 {
    font-size: 1.5em;
}
.mainParagraphs {
    color: rgb(75, 75, 75);
}
.mainParagraphs, h2 {
    letter-spacing: .04em;
    line-height: 1.8em;
}
.montageDiv1 {
    width: 100%;
    height: 48vw;
    background-image: linear-gradient(to left, #fbffa7 48vw, transparent 50%);
    display: flex;
    align-items: center;
}
.montageDiv2 {
    width: 100%;
    height: 63vw;
    background-image: linear-gradient(to right, #b6ffc0 49vw, transparent 50%);
    display: flex;
    align-items: center;
}
.mtg1img1 {
    background-image: url("Images/mtg1img1.jpg");
}
.mtg1img2 {
    background-image: url("Images/mtg1img2.jpg");
}
.mtg2img1 {
    background-image: url("Images/mtg2img1.jpg");
}
.mtg2img2 {
    background-image: url("Images/mtg2img2.jpg");
}
.mtg2img3 {
    background-image: url("Images/mtg2img3.jpg");
}
.imgSize1 {
    width: 35vw;
    height: 35vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.imgMaxSpace {
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.imgSize2 {
    width: 27vw;
    height: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 8em;
    margin-bottom: 8em;
}
.montageDiv1 .imgSize2 {
    margin-left: auto;
}
.montageDiv2 .imgSize1 {
    margin-left: auto;
}
#abletonVideo {
    margin: 7em auto 1em auto;
    width: 50%;
    height: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#abletonVideoThumbnail {
    width: 42%;
    position: absolute;
}
#videoPlayButton {
    background-image: url("Images/videoPlayButton.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 5vw;
    height: 5vw;
}
.hidden {
    display: none;
}
.spacing {
    height: 7em;
}





#someSpaceAtTheEnd {
    margin-top: 900px;
}