body {
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}
.mainDiv {
    margin: auto;
    width: 84.4%;
    margin-top: -.5em;
}
#abletonLogo {
    width: 3.75em;
    height: 1.75em;
    cursor: pointer;
    margin: 1.15em 0 0 2.5em;
    float: left;
}
.mainBlocks {
    min-height: 4em;
    background-color: #fff;
    width: 100%;
    margin-bottom: .1em;
    display: flex;
    flex-direction: column;
}
.mainBlocks h3, .mainBlocks h5 {
    float: left;
    margin-left: 2em;
    font-weight: 500;
    cursor: pointer;
}
.mainBlocks h5 {
    margin-left: 3em;
    font-weight: 600;
}
.orangeText, h1{
    color: #ff764d;
}
.blueText {
    color: #0000ff;
}
#headerBlueButton {
    margin-left: 26em;
    color: #0000ff;
}
.textLocationDiv {
    width: 50%;
    margin: auto;
}
.largestImgDiv {
    height: 83vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.largestImg1 {
    background-image: url("Images/largestImg1.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.8em;
}
.largestImg2 {
    background-image: url("Images/largestImg2.jpg");
}

h2 {
    font-size: 1.5em;
}
.mainParagraphs {
    color: rgb(75, 75, 75);
}
.mainParagraphs, h2 {
    letter-spacing: .04em;
    line-height: 1.8em;
}
.montageDiv1 {
    width: 100%;
    height: 48vw;
    background-image: linear-gradient(to left, #fbffa7 48vw, transparent 50%);
    display: flex;
    align-items: center;
}
.montageDiv2 {
    width: 100%;
    height: 63vw;
    background-image: linear-gradient(to right, #b6ffc0 49vw, transparent 50%);
    display: flex;
    align-items: center;
}
.montageDiv3 {
    width: 100%;
    height: 48vw;
    background-image: linear-gradient(to right, transparent 17%, #d5b3ff 17%, #d5b3ff 83%, transparent 17%);
    display: flex;
    align-items: center;
}
.jobsDiv {
    width: 100%;
    background-color: #b1c5ff;
    display: flex;
}
.jobsImg {
    width: 35vw;
    height: 35vw;
    background-image: url("Images/jobsImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.mtg1img1 {
    background-image: url("Images/mtg1img1.jpg");
}
.mtg1img2 {
    background-image: url("Images/mtg1img2.jpg");
}
.mtg2img1 {
    background-image: url("Images/mtg2img1.jpg");
}
.mtg2img2 {
    background-image: url("Images/mtg2img2.jpg");
}
.mtg2img3 {
    background-image: url("Images/mtg2img3.jpg");
}
.mtg3img1 {
    background-image: url("Images/mtg3img1.jpg");
}
.mtg3img2 {
    background-image: url("Images/mtg3img2.jpg");
}
.imgSize1 {
    width: 35vw;
    height: 35vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.imgMaxSpace {
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.imgSize2 {
    width: 27vw;
    height: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 8em;
    margin-bottom: 8em;
}
.montageDiv1 .imgSize2 {
    margin-left: auto;
}
.montageDiv2 .imgSize1 {
    margin-left: auto;
}
.montageDiv3 .imgSize1 {
    margin-left: auto;
}
#abletonVideo {
    margin: 7em auto 1em auto;
    width: 50%;
    height: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#abletonVideoThumbnail {
    width: 42%;
    position: absolute;
}
#videoPlayButton {
    background-image: url("Images/videoPlayButton.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 5vw;
    height: 5vw;
}
.hidden {
    display: none;
}
.spacing {
    height: 7em;
    background-color: #fff;
}
.footer {
    background-color: #fff;
    width: 77.1%;
    display: flex;
    padding-left: 7.3%;
    margin-left: 7.8%;
}
.footer div{
    width: 22%;
    height: 160px;
    margin: 1.5em;
}
.footer h2 {
    margin: 2.5em 0 0 .5em;
    font-size: 3.2em;
}
.footer .footerSignUpDiv {
    width: 34%;
}
.footer .mainParagraphs {
    letter-spacing: .04em;
    line-height: 1em;
    color: black;
}
.footerTitles {
    font-weight: 600;
}
.socialMedia {
    display: flex;
}
.footer div.socialMedia{
    width: 100%;
    height: 32px;
    margin: 0;
}
.footer div.socialMedia div{
    width: 30px;
    height: 30px;
    margin: 0 1em 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.facebookLogo {
    background-image: url("Images/facebookLogo.png");
    
}
.xLogo {
    background-image: url("Images/xLogo.png");
    
}
.youtubeLogo {
    background-image: url("Images/youtubeLogo.png");
    
}
.instagramLogo {
    background-image: url("Images/instagramLogo.png");
    
}
.tiktokLogo {
    background-image: url("Images/tiktokLogo.png");
}
#emailInput {
    width: 78%;
    height: 38px;
    margin: 0;
    padding-left: .8em;
    border: none;
    background-color: #e3eaff;
    font-size: 1em;
}
#emailButton {
    width: 22%;
    height: 40px;
    margin: 0;
    background-color: #0000ff;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
}
#emailDiv {
    width: 100%;
    height: 2.8em;
    display: flex;
    align-items: center;
    margin: 2em 0 0 0;
}
.selects {
    background-color: #f3f3f3;
    border: none;
    height: 30px;
    padding-left: .5em;
}
#languageSelect {
    width: 37%;
}
#countrySelect {
    width: 60%;
}
.footerBar {
    width: 78%;
    height: 30px;
    display: flex;
    padding-left: 9.5em;
    margin-top: -4em;
    align-items: center;
}
h6 {
    margin: .8em;
    font-size: .7em;
}
.footerFloatRight {
    margin-left: auto;
    margin-right: 1.5em;
}
.footerLogo {
    height: 20px;
}